@charset "utf-8";

/**
 * CSS para o componente GSColorPicker.
 */
.gs-color-picker {
    position: relative;
    float: left;
}

.gs-color-picker .btn {
    position: relative;
    margin-top: 13px;
    padding: 0 25px 0 10px;
    height: 40px;
    background-color: var(--transparent) !important;
	border: var(--input-border);
    transition: none;
}

.gs-color-picker .btn::before {
    position: absolute;
    top: 0;
    right: 7px;
    line-height: 40px;
}

.gs-color-picker .btn.btn--open {
    padding-left: 9px;
}

.gs-color-picker .color-selected {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}