@charset "utf-8";

/**
 * CSS para o componente GSColorPallete.
 */

.gs-color-pallete--to-top .gs-color-pallete {
    bottom: 50px;
}

.gs-color-pallete--to-right .gs-color-pallete {
    left: 0;
}

.gs-color-pallete--to-bottom .gs-color-pallete {
    top: 60px;
}

.gs-color-pallete--to-left .gs-color-pallete {
    right: 0;
}

.gs-color-pallete {
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
    position: absolute;
    z-index: 101;
    margin-top: 5px;
    max-height: 120px;
    height: 120px;
    width: 125px;
    padding: 5px;
    overflow: hidden;
    opacity: 1;
    background-color: var(--background-card);
    border: var(--border-card);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    transition: .3s;
}

.gs-color-pallete.esconder {
    height: 0;
    opacity: 0;
    border: 0;
    box-shadow: none;
    transition: .3s !important;
}

.gs-color {
    float: left;
    width: 25px;
    height: 25px;
    margin: 3px;
    cursor: pointer;
    border-radius: 50%;
}

.gs-color-blue {
    background-color: var(--blue) !important;
}

.gs-color-blue2 {
    background-color: rgb(70, 70, 180) !important;
}

.gs-color-steel-blue {
    background-color: #416ba9 !important;
}

.gs-color-light-blue {
    background-color: #7683c1 !important;
}

.gs-color-light-turquoise {
    background-color: #62cbc9 !important;
}

.gs-color-blue-gray {
    background-color: #c4cada !important;
}

.gs-color-dark-gray {
    background-color: #58595B !important;
}

.gs-color-graphite {
    background-color: var(--dark-grey) !important;
}

.gs-color-green {
    background-color: var(--green) !important;
}

.gs-color-maroon {
    background-color: var(--maroon) !important;
}

.gs-color-orange {
    background-color: var(--orange) !important;
}

.gs-color-pink {
    background-color: var(--pink) !important;
}

.gs-color-red {
    background-color: var(--red) !important;
}

.gs-color-red2 {
    background-color: rgb(200, 50, 45) !important;
}

.gs-color-yellow {
    background-color: var(--yellow) !important;
}