@charset "utf-8";

/**
 * CSS para ícones.
 */

.icon::before,
.icon--after::after,
.btn--with-icon::before,
.btn--icon-and-text::before,
.empty-state::before,
.input--with-icon::before,
input[type="checkbox"] + label::before,
header nav a.button-collapse i::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.icon::before {
    vertical-align: middle;
    font-size: 1.2em;
}

.icon--regular::before {
	font-weight: 400;
}

.icon-acompanhamento::before {
	content: "\f328";
}

.icon-adicionar::before {
	content: "\f067";
}

.icon-adicionar-redondo::before {
	content: "\f055";
}

.icon-associar::before {
	content: "\f78c";
}

.icon-ativo::before {
    content: "\f00c";
    color: var(--green);
}

.icon-atualizar::before {
	content: "\f2f1";
}

.icon-avaliacao::before {
	content: "\f56c";
}

.icon-avancar::before {
	content: "\f0da";
}

.icon-avancar-final::before {
	content: "\f050";
}

.icon-avancar-passo::before {
	content: "\f051";
}

.icon-banir::before {
	content: "\f05e";
}

.icon-calendario::before {
	content: "\f073";
}

.icon-caret-down::before {
	content: "\f0d7";
}

.icon-caret-up::before {
	content: "\f0d8";
}

.icon-carrinho::before {
    content: "\f07a";
}

.icon-carrinho-incluir::before {
	content: "\f218";
}

.icon-categoria::before {
	content: "\f1de";
}

.icon-circle::before {
	content: "\f111";
}

.icon-clone::before {
	content: "\f24d";
}

.icon-configurar::before {
	content: "\f013";
}

.icon-continuar::before {
	content: "\f051";
}

.icon-data::before {
	content: "\f073";
	font-weight: 400 !important;
}

.icon-desfazer::before {
	content: "\f2ea";
}

.icon-dividir::before {
	content: "\f529";
}

.icon-download::before {
	content: "\f381";
}

.icon-editar::before {
	content: "\f044";
}

.icon-editar-pen::before {
	content: "\f304";
}

.icon-efetivar::before {
	content: "\f560";
}

.icon-email::before {
	content: "\f0e0";
}

.icon-erro::before {
    content: "\f06a";
}

.icon-estoque::before {
	content: "\f468";
}

.icon-excluir::before {
	content: "\f1f8";
}

.icon-favorito::before {
    content: "\f005";
}

.icon-fechar::before {
    content: "\f00d";
}

.icon-filtro::before {
	content: "\f0b0";
}

.icon-grid::before {
	content: "\f00a";
}

.icon-historico::before {
	content: "\f1da";
}

.icon-hora::before {
	content: "\f017";
}

.icon-imprimir::before {
	content: "\f02f";
}

.icon-inativo::before {
    content: "\f00d";
    color: var(--red2);
}

.icon-info::before {
	content: "\f129";
}

.icon-info-circle::before {
    content: "\f05a";
}

.icon-justificativa::before {
	content: "\f305"
}

.icon-limpar-campo::before {
	content: "\f55a";
}

.icon-lista::before {
	content: "\f0ca";
}

.icon-localizacao::before {
    content: "\f3c5";
}

.icon-localizacao-marcada::before {
	content: "\f5a0";
}

.icon-notificacao::before {
	content: "\f0f3";
}

.icon-notificacao-vazio::before {
	content: "\f1f6";
}

.icon-opcao::before {
	content: "\f142";
}

.icon-ordenar::before {
	content: "\f160";
}

.icon-pause::before {
	content: "\f04c";
}

.icon-pdf::before {
	content: "\f1c1";
}

.icon-pesquisa::before {
	content: "\f46d";
}

.icon-pesquisar::before {
    content: "\f002";
}

.icon-play::before {
	content: "\f04b";
}

.icon-preview::before {
	content: "\f06e";
}

.icon-preview-not::before {
	content: "\f070";
}

.icon-remover-redondo::before {
	content: "\f056";
}

.icon-salvar::before {
	content: "\f00c";
}

.icon-senha::before {
	content: "\f084";
}

.icon-seta-baixo::before {
    content: "\f0d7";
}

.icon-seta-cima::before {
	content: "\f0d8";
}

.icon-seta-direita::before, .icon-seta-direita--after::after {
    content: "\f0da";
}

.icon-seta-direita-aberta::before {
    content: "\f054";
}

.icon-stop::before {
	content: "\f04d";
}

.icon-subtrair::before {
	content: "\f068";
}

.icon-transferir::before {
	content: "\f362";
}

.icon-upload::before {
	content: "\f382";
}

.icon-user::before {
	content: "\f007";
}

.icon-voltar::before {
	content: "\f0d9";
}

.icon-voltar-inicio::before {
	content: "\f049";
}

.icon-voltar-passo::before {
	content: "\f048";
}

.icon-votar-negativo::before {
	content: "\f165";
}

.icon-votar-positivo::before {
	content: "\f164";
}

.icon-xls::before {
	content: "\f1c3";
}

.icon-zoom::before {
	content: "\f00e";
}

.icon-green::before {
	color: var(--green);
}

.icon-red::before {
	color: var(--red2);
}

.icon-dark-grey::before {
	color: var(--dark-grey);
}