@charset "utf-8";

@import "input-gmd.css";

/**
 * CSS para os Inputs.
 */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-color: var(--primary-alpha-6) !important;
	box-shadow: none !important;
}

input:not([type]):focus:not([readonly])+label:not(.red-text),
input[type=text]:focus:not([readonly])+label:not(.red-text),
input[type=password]:focus:not([readonly])+label:not(.red-text),
input[type=email]:focus:not([readonly])+label:not(.red-text),
input[type=url]:focus:not([readonly])+label:not(.red-text),
input[type=time]:focus:not([readonly])+label:not(.red-text),
input[type=date]:focus:not([readonly])+label:not(.red-text),
input[type=datetime-local]:focus:not([readonly])+label:not(.red-text),
input[type=tel]:focus:not([readonly])+label:not(.red-text),
input[type=number]:focus:not([readonly])+label:not(.red-text),
input[type=search]:focus:not([readonly])+label:not(.red-text),
textarea.materialize-textarea:focus:not([readonly])+label:not(.red-text),
.gs-select--active .gs-select__input.input-field input[type=text]:focus:not([readonly])+label:not(.red-text) {
	color: var(--input-focus-label-color) !important;
}

input[type="number"] {
	-moz-appearance: textfield;	/* fix para o firefox: esconder setas */
}

input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

div.input-field {
	margin-bottom: 15px;
	box-sizing: border-box !important;
}

div.input-field input {
	height: 40px;
}

div.input-field.input-code input,
div.input-field.input-code textarea {
	font-family: monospace;
	font-size: 1.05rem;
}

div.input-field input[type=search]:focus {
	color: var(--color);
	background-color: transparent;
}

div.input-field label {
	top: 1.05rem;
	margin-left: 12px;
	padding-right: 4px;
	line-height: 1em;
}

div.input-field label.active {
	top: 0.6rem;
}

div.input-field.read-only label {
	top: 0.6rem !important;
}

div.input-field > .prefix {
	top: 11px;
	left: 11px;
	width: 1.6rem;
	font-size: 1.6rem;
	color: var(--grey);
	cursor: default !important;
}

div.input-field > .prefix.active {
	color: var(--grey) !important;
}

div.input-field > .prefix ~ input,
div.input-field > .prefix ~ textarea {
	margin-left: 0;
	padding-left: 3rem;
	width: 100%;
}

div.input-field .character-counter {
	height: 0 !important;
	font-size: .8rem !important;
}

div.input-field input,
div.input-field input.valid,
div.input-field textarea {
	margin-bottom: 0;
	padding-top: 3px;
	color: var(--color);
	border: var(--input-border) !important;
}

div.input-field.disabled input,
div.input-field.disabled input.valid,
div.input-field.disabled textarea {
	border: var(--input-border-disabled) !important;
}

div.input-field input:focus:not([readonly]),
div.input-field textarea:focus:not([readonly]),
div.input-field input.picker__input--active,
.gs-color-picker .btn.btn--open,
.gs-select--active .gs-select__input.input-field input {
	border: var(--input-border-focus) !important;
	box-shadow: none !important;
}

div.input-field input:focus:not([readonly]),
div.input-field input.picker__input--active,
.gs-color-picker .btn.btn--open {
	padding-top: 2px;
}

div.input-field textarea:focus:not([readonly]) {
	padding-top: 11px;
	padding-left: 11px;
}

div.input-field:not(.input--with-icon) input:focus:not([readonly]),
div.input-field:not(.input--with-icon) input.picker__input--active {
	padding-left: 11px;
}

div.input-field input {
	box-sizing: border-box;
	padding-left: 12px;
	padding-right: 12px;
}

div.input-field textarea {
	padding: 12px 4px 12px 12px;
	box-sizing: border-box;
	height: 90px !important;
	line-height: 1.2em;
	overflow: auto !important;
	transition: none;
}

div.input-field.textarea--div-appearence textarea {
	padding: 0 !important;
	color: var(--grey) !important;
	border: 0 !important;
}

div.input-field label.active,
.gs-calendar-check > .material-label {
	background-color: var(--background) !important;
	color: var(--input-active-label-color);
}

.card div.input-field label.active {
	background-color: var(--background-card) !important;
}

div.input-field input:-webkit-autofill + label {
	background-color: var(--background) !important;
	color: var(--color);
}

/* With button on right */
.input-with-button-container {
    position: relative;
}

.input--with-button-right ~ button {
	position: absolute;
	z-index: 999;
    top: 17px;
    right: 20px;
	font-size: 13px;
	color: var(--light-grey2) !important;
}

.input--with-button-right + button + button {
	right: 47px;
}

.input--with-button-right.input--small ~ button {
	top: 1px;
	right: 10px;
	font-size: 12px;
	color: var(--grey);
}

div.input-field.input--with-button-right.input--small input {
	padding-right: 28px;
}

div.input-field.input--with-button-right.input--small input:focus:not([readonly]) {
	padding-top: 5px;
	padding-left: 27px;
	padding-right: 27px;
}

/**/

/* Small */
div.input-field.input--small input {
	height: 30px !important;
	padding-top: 5px;
	padding-bottom: 4px;
}

div.input-field.input--small input:focus:not([readonly]) {
	padding-top: 4px;
}

div.input-field.input--small label.active {
	top: 0.45rem;
	padding-left: 3px;
	font-size: 11px;
}

div.input-field.input--small label:not(.active) {
	top: .62rem;
}

div.input-field.input--small.input--with-icon::before {
	top: 10px;
	font-size: 12px;
}

div.input-field.input--small.input--with-icon input {
	padding-left: 28px;
}
/**/

/* Invalid */
div.input-field input.invalid,
div.input-field input.invalid:focus,
div.input-field textarea.invalid,
div.input-field textarea.invalid:focus,
div.input-field input.invalid.picker__input--active,
div.input-field input.field-error {
	margin-bottom: 0 !important;
	border: var(--border-red) !important;
	box-shadow: none !important;
}

div.input-field input.field-error:focus:not([readonly]),
div.input-field textarea.invalid:focus:not([readonly]) {
	border: var(--border-2px-red) !important;
}

div.input-field .field-error-label,
div.input-field .field-success-label,
div.input-field .field-helper-label {
	position: absolute;
	margin-top: 2px;
	margin-left: 12px !important;
	line-height: 1em;
	font-size: .8rem;
}

div.input-field .field-error ~ label,
div.input-field input[type="number"].invalid ~ label,
div.input-field input[type="number"].invalid:focus ~ label:not(.red-text) {
	color: var(--red) !important;
}
/**/

/* Input with icons */
div.input--with-icon input {
	padding-left: 35px;
}

div.input--with-icon label {
	margin-left: 35px;
}

.input--with-icon::before {
	position: absolute;
	top: 11px;
	left: 10px;
	font-size: 18px;
	color: var(--input-prefix-icon-color);
}

.input--with-icon.disabled::before {
	color: var(--input-prefix-icon-color-disabled);
}

.input--with-icon.icon-hora.timepicker input {
	padding-right: 5px;
	padding-left: 32px;
}
/**/

/* Disabled */
input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type=text]:disabled,
input[type=text][readonly="readonly"],
input[type=password]:disabled,
input[type=password][readonly="readonly"],
input[type=email]:disabled,
input[type=email][readonly="readonly"],
input[type=url]:disabled,
input[type=url][readonly="readonly"],
input[type=time]:disabled,
input[type=time][readonly="readonly"],
input[type=date]:disabled,
input[type=date][readonly="readonly"],
input[type=datetime-local]:disabled,
input[type=datetime-local][readonly="readonly"],
input[type=tel]:disabled,
input[type=tel][readonly="readonly"],
input[type=number]:disabled,
input[type=number][readonly="readonly"],
input[type=search]:disabled,
input[type=search][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
	color: var(--grey) !important;
	-webkit-text-fill-color: var(--grey) !important;
	-webkit-opacity: 1 !important;
	opacity: 1 !important;
	border: var(--input-border-disabled) !important;
}

div.input-field.disabled label,
div.input-field.disabled label.active {
	color: var(--grey) !important;
}

div.input-field.disabled input:-webkit-autofill + label {
	color: var(--grey) !important;
}
/**/

/* Date */
.input-field.icon-data > .material-label[aria-hidden="true"] ~ div {
	z-index: 0 !important;
}
/**/

/* Checkbox */
input[type="checkbox"] + label {
	display: table-cell;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding-left: 23px;
	color: var(--color);
}

input[type="checkbox"][disabled] + label {
    color: var(--grey);
}

input[type="checkbox"] + label::before,
.gs-select__option::before {
	content: "\f0c8" !important;
	top: 0 !important;
	left: 0 !important;
	margin-top: 0;
	width: 20px !important;
	height: 20px !important;
	color: var(--checkbox-color);
	font-size: 20px;
	font-weight: 400 !important;
	border: 0 !important;
	border-radius: 0 !important;
	transform: none !important;
	backface-visibility: unset !important;
	transform-origin: unset !important;
	transition: 0s !important;
}

input[type="checkbox"]:checked + label:before,
.gs-select__option--selected::before {
	content: "\f14a" !important;
	font-weight: 900 !important;
}

input[type="checkbox"]:indeterminate + label:before {
	border-radius: 0 !important;
}

input[type="checkbox"]:disabled + label:before {
	color: var(--light-grey2);
	background: none !important;
}

input[type="checkbox"].filled-in+label:after {
	display: none;
}

.chk-favorito input[type="checkbox"] + label:before,
.chk-favorito input[type="checkbox"]:checked + label:before {
	content: "\f005";
	left: -2px !important;
}
/**/

/* Radio */
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
	padding-left: 22px;
	height: 16px;
	line-height: 17px;
	color: var(--dark-grey);
}

input[type="radio"]+label:before,
input[type="radio"]+label:after {
	margin: 0;
	transition: none !important;
}

input[type="radio"]:checked+label:before {
	border: 2px solid var(--dark-grey);
}

input[type="radio"]:checked+label:after {
	top: 4px;
	left: 4px;
	margin: 0;
	width: 8px;
	height: 8px;
	border-color: var(--dark-grey);
	background-color: var(--dark-grey);
	transform: none;
}
/**/

/* Range */
input[type="range"]::-webkit-slider-thumb,
input[type="range"] + .thumb {
	background-color: var(--primary) !important;
}
/**/

/* pac */
div.pac-container {
	margin-top: 5px;
	overflow: hidden;
	border: var(--border-light-grey) !important;
	border-radius: 5px !important;
	box-shadow: var(--box-shadow) !important;
}

div.pac-container .pac-item:first-child {
	border-top: 0;
}
/**/