@charset "utf-8";

/**
 * CSS para os estilos (design) do Input Outlined do GMD.
 * Adicionado aqui para não precisar definir o fieldType="OUTLINED" em todas as telas.
 */
 
.input-field input {
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.input-field label {
    margin-left: 12px;
}

.input-field label:active {
    margin-left: 8px;
}

div.input-field input,
div.input-field input.valid,
div.input-field textarea,
div.input-field input.select-dropdown {
    border-radius: 4px;
    border: var(--input-border-enabled);
}

div.input-field input.select-dropdown {
    padding-left: 12px;
}

div.input-field .select-wrapper + label {
    top: -10px;
    background: white;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 8px;
}

div.input-field input:focus,
div.input-field textarea:focus,
div.input-field input.picker__input--active {
    border: 2px solid #42a5f5;
    box-shadow: none;
}

div.input-field label.active {
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: white;
    margin-top: 4px;
    margin-left: 8px;
    z-index: 1;
}

div.input-field input:-webkit-autofill + label {
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: white;
    margin-top: 4px;
    margin-left: 8px;
    z-index: 1;
}

.modal div.input-field label.active,
.modal div.input-field .select-wrapper + label {
    background-color: #fafafa;
}

.modal div.input-field input:-webkit-autofill + label {
    background-color: #fafafa;
}

div.input-field.field-error input.select-dropdown,
div.input-field input.invalid,
div.input-field input.invalid:focus,
div.input-field textarea.invalid,
div.input-field textarea.invalid:focus,
div.input-field input.invalid.picker__input--active {
    border: 2px solid #f44336;
    box-shadow: none;
    margin-bottom: 8px;
}

div.input-field.field-success input.select-dropdown,
div.input-field input.valid,
div.input-field input.valid:focus,
div.input-field textarea.valid,
div.input-field textarea.valid:focus,
div.input-field input.valid.picker__input--active {
    border: 2px solid #4caf50;
    box-shadow: none;
}

div.input-field .field-error-label,
div.input-field .field-success-label,
div.input-field .field-helper-label {
    margin-left: 14px;
}

div.input-field.field-error.listbox-wrapper input.select-dropdown {
    border: 2px solid #F44336;
}