@charset "utf-8";

/**
 * CSS para o tema.
 */
:root {
	color-scheme: light;

	--primary: rgb(40, 53, 147);
	--primary-hover: rgb(70, 83, 177);
	--primary-alpha-1: rgba(40, 53, 147, 0.1);
	--primary-alpha-2: rgba(40, 53, 147, 0.2);
	--primary-alpha-4: rgba(40, 53, 147, 0.4);
	--primary-alpha-6: rgba(40, 53, 147, 0.6);
	--primary-alpha-7: rgba(40, 53, 147, 0.7);
	--primary-alpha-9: rgba(40, 53, 147, 0.9);
	--primary-light: rgb(100, 113, 207);
	--primary-light-hover: rgb(130, 143, 237);
	--primary-lighter: rgb(150, 163, 255);
	--primary-lighter-hover: rgb(170, 183, 255);
	--primary-lighter-alpha-2: rgba(130, 153, 207, 0.2);
	--primary-lighter-alpha-3: rgba(130, 153, 207, 0.3);
	--primary-b2b: rgb(10, 113, 217);

	--black: rgb(0, 0, 0);
	--black-alpha-1: rgba(0, 0, 0, 0.1);
	--black-alpha-2: rgba(0, 0, 0, 0.2);
	--black-alpha-4: rgba(0, 0, 0, 0.4);
	--black-alpha-5: rgba(0, 0, 0, 0.5);
	--black-alpha-6: rgba(0, 0, 0, 0.6);
	--black-alpha-7: rgba(0, 0, 0, 0.7);
	--black-alpha-8: rgba(0, 0, 0, 0.8);

	--blue: rgb(92, 92, 225);
	--blue-hover: rgb(112, 112, 245);
	--light-blue: rgb(0, 150, 200);
	--light-blue-hover: rgb(20, 170, 220);

	--brown: rgb(120, 85, 70);
	--brown-hover: rgb(140, 105, 90);

	--green: rgb(92, 170, 92);
	--green-hover: rgb(112, 190, 112);
	--dark-green: rgb(52, 120, 52);
	--dark-green-hover: rgb(72, 140, 72);
	--light-green: rgb(132, 210, 132);

	--grey: rgb(120, 120, 120);
	--grey-hover: rgb(140, 140, 140);
	--dark-grey: rgb(92, 92, 92);
	--dark-grey-hover: rgb(112, 112, 112);
	--darker-grey: rgb(52, 52, 52);
	--darker-grey-alpha-2: rgb(52, 52, 52, 0.2);
	--light-grey: rgb(220, 220, 220);
	--light-grey2: rgb(180, 180, 180);
	--light-grey3: rgb(140, 140, 140);

	--gold: rgb(185, 173, 0);

	--maroon: rgb(175, 72, 72);
	--maroon-hover: rgb(195, 92, 92);

	--orange: rgb(255, 165, 0);
	--orange-hover: rgb(255, 185, 20);

	--pink: rgb(240, 112, 112);
	--pink-hover: rgb(255, 132, 132);

	--red: rgb(240, 60, 50);
	--red-hover: rgb(255, 80, 70);
	--red2: rgb(205, 92, 92);
	--red2-hover: rgb(225, 112, 112);
	--dark-red: rgb(192, 0, 0);	
	--light-red: rgb(255, 202, 202);

	--transparent: rgba(0, 0, 0, 0);

	--white: rgb(255, 255, 255);
	--white-alpha-2: rgba(255, 255, 255, 0.2);
	--white-alpha-6: rgba(255, 255, 255, 0.6);
	--white-alpha-8: rgba(255, 255, 255, 0.8);
	--white-alpha-9: rgba(255, 255, 255, 0.9);
	--whitesmoke: rgb(245, 245, 245);

	--yellow: rgb(245, 192, 62);
	--yellow-hover: rgb(255, 212, 82);
	--light-yellow: rgb(255, 232, 102);

	--color: rgba(0, 0, 0, 0.87);
	--color-light: var(--light-grey3);

	--background: rgb(252, 252, 252);
	--background-alpha-2: rgba(252, 252, 252, 0.2);
	--background-alpha-6: rgba(252, 252, 252, 0.6);
	--background-alpha-8: rgba(252, 252, 252, 0.8);
	--background-alpha-95: rgba(252, 252, 252, 0.95);
	--background2: rgb(242, 242, 242);
	--background3: rgb(248, 248, 248);
	--background4: rgb(238, 238, 238);
	--background4-alpha-95: rgba(238, 238, 238, 0.95);

	--background-card: rgb(255, 255, 255);

	--linear-gradient-light-grey-to-transparent: linear-gradient(to right, rgb(220, 220, 220), rgb(240, 240, 240), transparent);
	--linear-gradient-rentabilidade: linear-gradient(to top, rgb(245, 92, 92), rgb(245, 242, 92), rgb(92, 185, 92));

	--border-green: 1px solid rgb(92, 170, 92);

	--border-light-grey: 1px solid rgb(220, 220, 220);
	--border-whitesmoke: 1px solid rgb(245, 245, 245);

	--border-red: 1px solid rgb(240, 60, 50);
	--border-2px-red: 2px solid rgb(240, 60, 50);

	--border-card: 1px solid rgb(220, 220, 220);

	--box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	--box-shadow-thin: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--box-shadow1: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
	--box-shadow-autofill: 0 0 0 30px var(--background-card) inset;
	--box-shadow-pulse-on: 0 0 0 0 rgba(255, 255, 255, 0.2);
	--box-shadow-pulse-off: 0 0 0 30px rgba(0, 0, 0, 0);

	--banner-background: var(--whitesmoke);

	--button-color: rgb(52, 52, 52);
	--button-background: var(--primary);
	--button-background-disabled: var(--light-grey);
	--button-background-hover: var(--primary-hover);
	--button-border: 1px solid rgb(220, 220, 220);
	--button-flat-color: var(--primary);

	--chart-canvas-background: var(--whitesmoke);

	--card-border-inside: 1px solid var(--light-grey);

	--checkbox-color: var(--dark-grey);

	--collapsible-header-background: var(--white);
	--collapsible-header-background-hover: var(--black-alpha-1);
	--collapsible-header-border: 1px solid var(--light-grey);

	--gs-calendar-check-background: var(--primary-alpha-1);
	--gs-calendar-check-background-checked: var(--primary);

	--gs-calendar-mes-check-color: var(--primary);
	--gs-calendar-mes-check-weekend-color: var(--red);

	--gs-day-non-current-month-border-color: var(--light-grey3);

	--icon-color: var(--dark-grey);

	--image-filter: none;
	--image-filter-invert: none;

	--input-active-label-color: var(--black);
	--input-border: 1px solid var(--black-alpha-5);
	--input-border-disabled: 1px solid rgba(0, 0, 0, 0.3);
	--input-border-enabled: 1px solid rgba(0, 0, 0, 0.5);
	--input-border-focus: 2px solid rgba(40, 53, 147, 0.6);
	--input-focus-label-color: var(--primary);
	--input-prefix-icon-color: var(--dark-grey);
	--input-prefix-icon-color-disabled: var(--light-grey2);

	--login-input-border-color: var(--primary);
	--login-input-button-background: var(--primary);
	--login-input-button-background-hover: var(--primary-hover);
	--login-input-button-color: var(--primary);
	--login-input-button-color-hover: var(--primary-hover);
	--login-input-label-color: var(--primary);
	--login-loading-info-background: var(--primary);
	--login-logo-image: url('images/geosales-logo-azul-240px.png');

	--nav-background: var(--primary);
	--nav-header-background: var(--background);
	--nav-header-box-shadow: var(--box-shadow-thin);
	--nav-header-icon-color: var(--light-grey2);
	--nav-header-icon-menu-color: var(--primary);
	--nav-header-input-background: var(--whitesmoke);
	--nav-header-input-background-focus: var(--white);
	--nav-header-input-border: 2px solid var(--nav-header-input-background);
	--nav-sidenav-link-background: var(--primary-alpha-1);
	--nav-sidenav-module-link-background: var(--primary-alpha-2);
	--nav-sidenav-module-link-color: var(--primary);

	--panel-border: 1px solid var(--light-grey);

	--picker-button-color: var(--primary);
	--picker-day-selected: var(--primary-alpha-2);

	--scrollbar-thumb-color: var(--light-grey);

	--select-background: var(--white);
	--select-border: 1px solid var(--light-grey);
	--select-option-selected: var(--primary);
	--select-option-background-selected: var(--light-grey);

	--stepper-background-hover: var(--whitesmoke);
	--stepper-button-color: var(--grey);
	--stepper-line-border: 1px solid var(--light-grey);

	--tab-box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
	--tab-color: var(--dark-grey);
	--tab-color-active: var(--primary);
	--tab-color-hover: var(--primary-hover);

	--table-button-background-color-hover: var(--black-alpha-1);
	--table-button-color: var(--grey);
	--table-thead-color: rgba(0, 0, 0, 0.54);
	--table-tool-panel-linear-gradient: linear-gradient(to right, var(--background-alpha-2), var(--background), var(--background));
	--table-tr-background-hover: var(--background4);
	--table-tr-border-color: var(--light-grey);

	--table-sticky-header-box-shadow: 3px 1px 3px 0 rgb(220, 220, 220);
	--table-sticky-header-first-child-box-shadow: 1px 1px 3px 0 rgb(220, 220, 220);
	--table-sticky-td-first-child-box-shadow: 1px 3px 4px 0 rgb(220, 220, 220);

	--time-picker-plate-background: var(--primary-alpha-1);

	--toast-background: var(--darker-grey);
	--toast-color: var(--white);

	--tooltip-background: var(--darker-grey);
	--tooltip-color: var(--white);

	--divider: rgb(220, 220, 220);

	--text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);

	--text-decoration-line-through: line-through rgb(180, 180, 180);
}